<h2>Por Capital</h2>
<hr />

<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar capital..."
    ></app-pais-input>
  </div>
</div>
<ul class="list-group" *ngIf="mostrarSugerencia">
  <li
    *ngFor="let capital of capitalesSugerido"
    class="list-group-item list-group-item-action"
  >
    <a class="nav-link" [routerLink]="['/pais', capital.cca2]">{{
      capital.name.common
    }}</a>
  </li>
  <li
    class="list-group-item list-group-item-action"
    (click)="buscarSugerido(termino)"
  >
    <a class="nav-link">Buscar "{{ termino }}"</a>
  </li>
</ul>
<hr />
<div *ngIf="hayError" class="alert alert-danger">
  No se enconto nada con el {{ termino }}
</div>
<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-capital-table [paises]="paises"></app-capital-table>
  </div>
</div>
